{% extends 'base.html' %}

{% load custom_filters %}

{% block title %}
    Post
{% endblock title %}


{% block content %}
    <div class="post-entry">
        <h2>{{ post.title | hide_forbidden}}</h2>
        <p>Автор: {{ post.author}}</p>
        <p> Категории:
            {% for category in post.category.all%}
                {{ category }}
            {% endfor category %}
        </p>
        <br>
        <p>{{ post.body | safe}}</p>
    </div>
    <hr>
    {% if post.author == user %}
        <p><a class="back" href="{% url 'post_edit' post.pk%}" title="Edit post">Edit post</a>
        <p><a class="back" href="{% url 'post_delete' post.pk %}" title="Delete post">Delete post</a></p>
        <p><a class="back" href="{% url 'home' %}">Back</a></p>
    {% else %}
        <p>Leave a response</p>
    {% endif %}
{% endblock content %}