{% extends 'base.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    Search posts
{% endblock title %}

{% block content %}
    {#  Search, D4 Filters  #}
    <h1>Search</h1>
    <form action="" method="get">
{#        {{ filterset.form.non_field_errors }}#}
{##}
{#        {{ filterset.form.name__icontains.errors }}#}
{#        <label for="{{ filterset.form.title__icontains.id_for_label }}">Оглавление содержит:</label>#}
{#        <input#}
{#            id="{{ filterset.form.title__icontains.id }}"#}
{#            name="{{ filterset.form.title__icontains.name }}"#}
{#            value="{{ filterset.form.title__icontains.value }}"#}
{#            class="form-control"#}
{#        >#}
         {{filterset.form.as_p}}
        <input type="submit" value="Search"/>
    </form>
    <hr>
    <h4>Total per page: {{ posts|length }} </h4>

{#  Main  #}
    {% if posts %}
        <div class="posts">
            {% for post in posts %}
                <a href="{{ post.get_absolute_url }}">
                    <div class="post-entry">
                        <h2 class="post-title">{{ post.title | hide_forbidden}}</h2>
                        <div class="post-time"><p>{{ post.post_time | date:'d-M-Y'}}</p></div>

                        <p class="post-category">Category: <span>{% for category in post.category.all %} {{ category }}{% endfor %}</span></p>
                        {% with truncated_body=post.body|striptags|safe|truncatechars:50 %}
                            <div class="post-text"><p>{{ truncated_body }}</p></div>
                        {% endwith %}
                        <p class="post-author">Аuthor: {{ post.author }}</p>
                        <div class="post-footer">
                            <p>Responses: {{ post.comments.count }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

{# Pagination #}
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a href="?{% url_replace page=1 %}">First</a>
                <a href="?{% url_replace page=page_obj.previous_page_number %}"><<<</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?{% url_replace page=num %}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?{% url_replace page=page_obj.next_page_number  %}">>>></a>
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">Last</a>
            {% endif %}
        {% endif %}

    {% else %}
        <h3>No Tasks</h3>
    {% endif %}

{% endblock content %}