{% extends 'base.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
    My posts
{% endblock title %}

{% block content %}
    <h1>My Posts</h1>
    <br>
{#  Main  #}
    {% if posts %}
        {% for post in posts %}
            <div class="post-entry">
                <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title | hide_forbidden}}</a></h2>
                <p>Объявление для: {% for category in post.category.all %} {{ category }} {% endfor %}</p>
                <br>
                <p class="text">{{ post.body | safe | truncatechars:50}}</p>
                <br>
                <p>Дата публикации: {{ post.post_time | date:'d-M-Y'}}</p>
                </div>
                <hr>
            {% endfor %}
{# Pagination #}
        {% if is_paginated %}

            {% if page_obj.has_previous %}
                <a href="?{% url_replace page=1 %}">First</a>
                <a href="?{% url_replace page=page_obj.previous_page_number %}"><<<</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a>{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a href="?{% url_replace page=num %}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?{% url_replace page=page_obj.next_page_number  %}">>>></a>
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">Last</a>
            {% endif %}
        {% endif %}

    {% else %}
        <p>You don't have posts yet</p>
        <br>
        <a href="{% url 'post_new'%}" class="button">Create Your First Post</a>
    {% endif %}

{% endblock content %}