<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>

</head>
<body>
    <header>
        <div class="inner_header">
            <div class="logo_container">
                <h1>TASK<span>desk</span></h1>
            </div>
            <nav>
                <ul class="navigation">
{#                   <li><a class="item" href="{% url 'home' %}" title="Main page">Home</a></li>#}
{#                   <li><a class="item" href="{% url 'about' %}" title="About us">About</a></li>#}
                    <li><a class="item" href="/about/" title="about"><p class="scale">About app</p></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>