<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {#    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">#}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>

</head>
<body>
    <header>
        <div class="inner_header">
            <div class="logo_container">
                <a class='home' href="{% url 'home' %}" title="Home page"><h1>BEST<span>mmorpg</span></h1></a>
            </div>
            <nav>
                <ul class="navigation">
                    <li class="pages">
                        <a class="item" href="/about/" title="about app">
                            <p class="scale">About</p>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="pages">
                        <a class="nav-link" href="{% url 'logout' %}" title="log out">
                            <p class="scale">Log Out</p>
                        </a>
                    </li>
                    <li class="pages">
                        <a class="item" href="{% url 'post_new' %}" title="create new post">
                            <p class="scale">+ New Post</p>
                        </a>
                    </li>
                    {% else %}
                    <li class="pages">
                        <a class="item" href="{% url 'login' %}" title="log in">
                            <p class="scale">Log In</p>
                        </a>
                    </li>
                    <li class="pages">
                        <a class="item" href="{% url 'signup' %}" title="sign up">
                            <p class="scale">Sign Up</p>
                        </a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>